<h2>Unit Converter</h2>

<div class="converter">
    <form [formGroup]="cgsConverterForm">
        <mat-form-field>
            <input matInput appOnlyNumber placeholder="CGS" formControlName="cgsValue"
            inputmode="decimal" (input)="convert('cgs')">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Conversion</mat-label>
            <mat-select formControlName="conversion" (selectionChange)="changedSelection()">
                <mat-option *ngFor="let unit of unitConversion" [value]="unit.name">
                    {{unit.viewName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput appOnlyNumber placeholder="SI" formControlName="siValue"
            inputmode="decimal" (input)="convert('si')">
        </mat-form-field>
    </form>
</div>