<div class="app-container">
  <header>
    <app-header></app-header>
  </header>
  
  <main>
    <div class='main-container'>
      <mat-card class="content-card">
        <app-sld></app-sld>
      </mat-card>
      <!-- <mat-card class="content-card">
        <app-molar-mass></app-molar-mass>
      </mat-card> -->
      <mat-card class="content-card">
        <app-magnetic-units></app-magnetic-units>
      </mat-card>
    </div>
  </main>
      
  <footer>
    <app-footer></app-footer>
  </footer>
</div>